* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}
:root {
  --text-grey: grey;
  --background-white: #fff;
  --text-black: #222;
  --background-grey: #f0f0f0;
}

.spacer {
  height: 20px;
}
